{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      customer,
    'indexPath':   path('subscriptions.customers_index'),
    'indexLabel': 'Customers'|trans,
    'entityTitle': customer.firstName ~' '~ customer.lastName
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('id'|trans, customer.id) }}
                    {{ UI.renderProperty('Name prefix'|trans, customer.namePrefix) }}
                    {{ UI.renderProperty('First name'|trans, customer.firstName) }}
                    {{ UI.renderProperty('Middle name'|trans, customer.middleName) }}
                    {{ UI.renderProperty('Last name'|trans, customer.lastName) }}
                    {{ UI.renderProperty('Gender'|trans, customer.nameSuffix) }}
                    {{ UI.renderProperty('Name suffix'|trans, customer.gender) }}
                    {{ UI.renderProperty('Birthday'|trans, customer.birthday ? customer.birthday|date('Y-m-d'): '' ) }}
                    {{ UI.renderProperty('Email'|trans, customer.email) }}
                    {{ UI.renderProperty('Created date'|trans, customer.createdAt | date('Y-m-d H:i:s')) }}
                    {{ UI.renderProperty('Updated date'|trans, customer.updatedAt ?  customer.updatedAt|date('Y-m-d H:i:s'): '') }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set subscriptions %}
        <div class="widget-content" style="border-bottom: 1px solid #ccc;">
            {% set gridName = 'ph-customer-subscriptions-grid' %}
            {% set renderParams = {
                'enableFullScreenLayout': true,
                'enableViews': true,
                'showViewsInNavbar': true,
                'filtersStateElement': '.filters-state-view-container',

            }
            |merge(renderParams|default({})) %}

            {% set params = {
                'customer': customer.id
            }
            |merge(params|default({})) %}

            {{ dataGrid.renderGrid(gridName, params, renderParams) }}
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'Customer data'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] },
            ]
        },
        {
            'title': 'Customer subscriptions'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [subscriptions] },
            ]
        }
    ] %}

    {% set id = 'customerView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}