{% extends 'OroUIBundle:actions:view.html.twig' %}

{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% block navButtons %}
    {% if resource_granted('EDIT', customer) %}
        {{ UI.editButton({
            'path' : path('subscriptions.customer_update', { id: customer.id }),
            'entity_label': 'Customer'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', customer) %}
        {{ UI.deleteButton({
            'dataUrl': path('ph_customers_api_delete_customer', {'id': customer.id}),
            'dataRedirect': path('subscriptions.customers_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-subscription',
            'dataId': customer.id,
            'entity_label': 'Customer'|trans,
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      customer,
    'indexPath':   path('subscriptions.customers_index'),
    'indexLabel': 'Customers'|trans,
    'entityTitle': customer.firstName ~' '~ customer.lastName
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ UI.renderProperty('id'|trans, customer.id) }}
                    {{ UI.renderProperty('Name prefix'|trans, customer.namePrefix) }}
                    {{ UI.renderProperty('First name'|trans, customer.firstName) }}
                    {{ UI.renderProperty('Middle name'|trans, customer.middleName) }}
                    {{ UI.renderProperty('Last name'|trans, customer.lastName) }}
                    {{ UI.renderProperty('Gender'|trans, customer.nameSuffix) }}
                    {{ UI.renderProperty('Name suffix'|trans, customer.gender) }}
                    {{ UI.renderProperty('Birthday'|trans, customer.birthday ? customer.birthday|date('Y-m-d'): '' ) }}
                    {{ UI.renderProperty('Email'|trans, customer.email) }}
                    {{ UI.renderProperty('Email confirmed'|trans, customer.emailVerifiedAt ?  customer.emailVerifiedAt|date('Y-m-d H:i:s'): 'No') }}
                    {{ UI.renderProperty('Newsletter Allowed'|trans, customer.newsletterAllowed ? 'Yes'|trans : 'No'|trans) }}
                    {{ UI.renderProperty('Gift Allowed'|trans, customer.giftAllowed ? 'Yes'|trans : 'No'|trans) }}
                    {{ UI.renderHtmlProperty('Customer data edit link'| trans, UI.renderUrl(url('ph_customer_edit', {}, false)~'?token='~customer.customerUpdateToken)) }}
                    {{ UI.renderProperty('Created date'|trans, customer.createdAt | date('Y-m-d H:i:s')) }}
                    {{ UI.renderProperty('Updated date'|trans, customer.updatedAt ?  customer.updatedAt|date('Y-m-d H:i:s'): '') }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set subscriptions %}
        <div class="widget-content" style="border-bottom: 1px solid #ccc;">
            {% set gridName = 'ph-customer-subscriptions-grid' %}
            {% set params = {
                'customer': customer.id
            }
            |merge(params|default({})) %}

            {{ dataGrid.renderGrid(gridName, params, renderParams|default({})) }}
        </div>
    {% endset %}
    {% set notifications %}
        <div class="widget-content" style="border-bottom: 1px solid #ccc;">
            {% set gridName = 'ph-customer-notifications-grid' %}
            {% set params = {
            'customer': customer.id
            }
            |merge(params|default({})) %}

            {{ dataGrid.renderGrid(gridName, params, renderParams|default({})) }}
        </div>
    {% endset %}
    {% set adresses %}
        <div class="widget-content">
            {% for item in customer.addresses %}
                <div class="row-fluid form-horizontal">
                    <div class="responsive-block">
                        {{ UI.renderProperty('Is primary'|trans, item.primary) }}
                        {{ UI.renderProperty('Label'|trans, item.label) }}
                        {{ UI.renderProperty('First Name'|trans, item.firstName) }}
                        {{ UI.renderProperty('Middle Name'|trans, item.middleName) }}
                        {{ UI.renderProperty('Last Name'|trans, item.lastName) }}
                        {{ UI.renderProperty('Street'|trans, item.street) }}
                        {{ UI.renderProperty('Street 2'|trans, item.street2) }}
                        {{ UI.renderProperty('Postal code'|trans, item.postalCode) }}
                        {{ UI.renderProperty('City'|trans, item.city) }}
                        {{ UI.renderProperty('Region'|trans, item.regionText) }}
                        {{ UI.renderProperty('Country'|trans, item.country) }}
                        {{ UI.renderProperty('Organization'|trans, item.organization) }}
                        {{ UI.renderProperty('Created date'|trans, item.created | date('Y-m-d H:i:s')) }}
                        {{ UI.renderProperty('Updated date'|trans, item.updated ?  item.updated|date('Y-m-d H:i:s'): '') }}
                    </div>
                </div>
                <hr />
            {% endfor %}
        </div>
    {% endset %}


    {% set dataBlocks = [
        {
            'title': 'Customer data'|trans,
            'class': 'active',
            'subblocks': [
                { 'data' : [data] },
            ]
        },
        {
            'title': 'Customer adresses'|trans,
            'class': '',
            'subblocks': [
                { 'data' : [adresses] },
            ]
        },
        {
            'title': 'Customer subscriptions'|trans,
            'class': '',
            'subblocks': [
                { 'data' : [subscriptions] },
            ]
        }
    ] %}

    {% set id = 'customerView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}